@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');

:root {
	--green: #2A9D8F;
	--red: #E76F51;
	--blue: #264653;
	--yellow: #E9C46A;
	--orange: #F4A261;

	--small-font-size: 1rem;
	--medium-font-size: 1.25rem;
	--big-font-size: 1.75rem;

	--border-radius: 10px;
	--animation-speed: 0.1s;

	--text-color: #1C1800;
	--background-color: #FFFFFC;
	--board-background-color: transparent;

	--action-text-color: #FFFFFC;
	--action-background-color: var(--blue);

	--number-text-color: #FFFFFC;
	--number-background-color: var(--orange);

	--board-item-size: 75px;
	--board-item-font-size: 1.6rem;
}

/* MOBILE VARIABLES */
@media screen and (max-width: 768px) {
	:root {
		--board-item-size: 55px;
		--board-item-font-size: 1.3rem;

		/*--small-font-size: 0.75em;*/
		/*--medium-font-size: 1em;*/
		/*--big-font-size: 1.25em;*/
	}
}

* {
	box-sizing: border-box;
}

body {
	position: relative;
	width: 100%;
	min-height: 80vh;

	/*background-image: url("./images/disegno.svg");*/
	/*background-attachment: fixed;*/
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;

	background-color: var(--background-color);
	color: var(--text-color);
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

/*
[color-scheme="dark-pink"] {
	--board-item-background-color: #264653;
}

[color-scheme="fluorescent-orange"] {
	--board-item-background-color: #2a9d8f;
}

[color-scheme="lemon-yellow"] {
	--board-item-background-color: #e9c46a;
}

[color-scheme="willow"] {
	--board-item-background-color: #f4a261;
}

[color-scheme="phthalo-blue"] {
	--board-item-background-color: #e76f51;
}
 */
